.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 750px;
    /* background-color: red; */
    background-image: url("assets/images/Background_Contacts.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-container {
    position: relative;

    width: 100px;
    height: 100px;
    margin-bottom: 56px;

}

.avatar {
    position: absolute;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--red);
    padding: 5px;
}

.container-text-header {
    width: 680px;
    height: 159px;
    text-align: center;

}

.avatar-badge {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-inline: 16px;
    height: 40px;
    border-radius: 32px;
    background-color: var(--gray-300);
}

.tech-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    border-radius: 16px;
    background-color: var(--gray-200);
    margin-top: 80px;
    margin-bottom: 100px;
}