.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 750px;
    /* background-color: red; */
    background-image: url("assets/images/Background_Contacts.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-container {
    position: relative;
}

.avatar {
    position: absolute;
    width: 87px;
    height: 87px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--red);
    padding: 5px;
}

.avatar-badge {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 114px;
    height: 40px;
    border-radius: 32px;
    background-color: var(--gray-300);
}