#section-projetos {

    .fundo-section-projetos {
        background-color: var(--gray-200);
        width: 1366px;
        height: 917px;
    }

    .padding {
        padding-top: 72px;
    }

    .header-sections {
        display: grid;
        text-align: center;


    }

    .container-projects {
        display: grid;
        margin: auto;
        width: 1040px;
        height: 584px;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-top: 56px;


    }

    .img-projects {
        width: 306px;
        height: 156px;
        border-radius: 12px;
        margin-inline: 12px ;
        margin-top: 12px;


    }

    .projectcard {
        background-color: var(--gray-300);
        width: 330px;
        height: 280px;
        border-radius: 12px;
        


    }

    .projectcard:hover{
        border: 1px solid var(--gray-400);
    }

    .container-box{
       
        margin-inline: 12px;
        margin-top: 20px;
        margin-bottom: 17px;
      
    }
    

}

